.tabletennis-container {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.tabletennis-container h1 {
    margin-top: 7vh;
    border-bottom: solid 2px #FCEB82;
    padding-bottom: 1vh;
}
.scoreboard-container {
    margin-bottom: 4vh;
}
.finishMatchBtn {
    font-size: 1em;
    background-color: #2B7288;
    color: white;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: fit-content;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 14vh;
}
.finishMatchBtn:hover {
    background-color: #40A6C7;
}
